.data-map__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.data__wrapper {
    width: 100%;
    padding: 25px;
}

.map__wrapper {
    max-width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}