@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #FCFBFE;
}

.wrapper {
    width: 100%;
    padding: 50px 50px;
}

a {
    color: #000;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    margin-bottom: 0.6em;
}

h1 {
    margin-bottom: 50px;
    font-size: 3em;
}

p {
    opacity: 0.7;
    line-height: 1.5em;
}

.city__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}