.nav__outer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    background: #fff;
    border-bottom: 1px solid #E4E4E6;
}

.nav__link {
    margin-left: 45px;
    text-decoration: none;
}